# Ignore virtual environment
env/

# Ignore data files 
data/

# Ignore python cache
__pycache__/

# Ignore environment variables
.env
# Ignore storage integration file
scripts/snowflake_setup/storage_integration.sql